# Путь к best_iou.pth после обучения
MODEL_CHECKPOINT_PATH=model/weights/best_iou.pth

# cuda | cpu | auto
MODEL_DEVICE=auto

# FP16 
MODEL_FP16=true

MODEL_TTA=false
MODEL_MAX_SIDE_PX=4096
MODEL_THRESHOLD=0.5
MODEL_API_PORT=8080
